<!-- Features -->

<section id="features">
    <h1 class="feature-heading">Explore Our Features</h1>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
          <img src="static/images/company-overview.jpg" alt="company-overview" class="feature-img">
        </div>
        <h3 class="fs-2">Stock Overview</h3>
        <p class="feature-p">Stay on top of the stock market with an easy-to-read overview of key performance metrics 
          and company details. Instantly access current stock prices, percentage changes, volume, 
          and market capitalization for a comprehensive snapshot of market trends. 
          The platform simplifies complex data to help you make informed investment decisions.</p>

      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
          <img src="static/images/stock-charts.jpg" alt="stock-charts" class="feature-img">
        </div>
        <h3 class="fs-2">Informative Charts</h3>
        <p class="feature-p">Visualize stock trends with the interactive and informative charts. 
          Analyze stock performance over time, using tools like candlestick charts, moving averages, 
          and volume indicators. The charts empower you to spot trends and patterns, 
          helping you make data-driven decisions in real-time.</p>

      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
          <img src="static/images/stock-history.png" alt="stock-history" class="feature-img">
        </div>
        <h3 class="fs-2">Historical Stock Data</h3>
        <p class="feature-p">Explore detailed historical data to gain insights into long-term stock performance. 
          View trends over weeks, months, or years to identify potential opportunities and risks. 
          Whether you're a short-term trader or long-term investor, understanding a stock’s history is crucial 
          to your strategy.</p>

      </div>
    </div>
  </section>