@import url(home.css);
@import url(navbar.css);
@import url(stock-gainer-loser.css);
@import url(form.css);
@import url(stock-details.css);
@import url(anaylyze.css);
@import url(news.css);


/* * {
    background-color: white;
} */

body {
    background-color: #0C0C0C;
    padding: 60px 25px;
    color: whitesmoke;
}